@import './../../../colors.scss';

.list_item {
  padding: 13px 0;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  
  color: $primary;

  p {
    padding-left: 108px;
  }

  &__active {
    color: #ffffff;

    background-color: $primary;
  }
}